.nav-1 {
   background-color: #6999d1;
}
nav{

}

img{
    text-align: center;
    padding-left: 250px;
}

footer{background-color: rgb(196, 14, 23);
text-align: center;}

h1{
    color: red;
    text-align: center;
 }